body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background-color: rgb(180, 205, 199);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.navi_ymbris {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.vasask_pool {
  display: flex;
}

.navi_ymbris > .vasask_pool > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.navi_linkide_ymbris {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.navi_link_aktiivne {
  border-bottom: 1px solid black;
}

.navi_link_aktiivne a {
  color: rgb(73, 23, 23) !important;
}

.navi_linkide_ymbris a {
  color: hsl(240, 3%, 22%);
  text-decoration: none;
  transition: color 0.5s;
}

.navi_linkide_ymbris:hover {
  border-bottom: 1px solid black;
}

.navi_linkide_ymbris a:hover {
  color: rgb(0, 0, 0);
}

.avalehe_elementide_ymbris {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.avalehe_elemendi_ymbris {
  position: relative;
}

.avalehe-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.pildi_teksti_ymbris {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.pildi_teksti_ymbris .subtitle {
  transition: 1s;
  color: transparent;
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.pildi_teksti_ymbris:hover .subtitle {
  color: lightseagreen;
  font-weight: 600;
}

.kahe_tulba_sisu_ymbris {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vahelehtede_pildi_ymbris img {
  width: 100%;
}

.vahelehe-sisu_ymbris {
  padding: 30px;
}

.vahelehe-sisu_ymbris h1 {
  color: lightseagreen;
  font-weight: bolder;
}

.vahelehe-sisu_ymbris h2 {
  color: lightseagreen;
  font-weight: lighter;
}
